// Variables
$body-bg: rgb(176, 217, 241);
$main-font: 'Josefin Sans', sans-serif;

$primary-color: #007bff;
$secondary-color: #6c757d;
$success-color: #28a745;
$light-color: #f4f4f4;
$dark-color: #333;
